<div class="flex items-center justify-center w-full">
  <hlm-carousel
    class="w-full max-w-[43rem] flex justify-center rounded-lg overflow-hidden"
  >
    <hlm-carousel-content class="">
      @for (item of items; track item) {
      <hlm-carousel-item>
        <img
          class="w-full object-contain h-full block"
          src="{{ item }}"
          alt="hero img"
        />
      </hlm-carousel-item>
      }
    </hlm-carousel-content>
    <button hlm-carousel-previous></button>
    <button hlm-carousel-next></button>
  </hlm-carousel>
</div>
