<div class="bg-img py-9 px-24 mt-10">
  <div class="flex justify-start items-center">
    <img
      src="../../../assets/logo-footer.png"
      alt="logo"
      class="block md:h-28 h-20"
    />
    <img
      src="../../../assets/footer-title.png"
      alt="logo"
      class="block md:h-36 h-24"
    />
  </div>

  <span class="block h-[2px] bg-white w-full m-auto"></span>

  <div class="flex items-start justify-between text-white p-4 gap-5">
    <div>
      <h5 class="font-bold text-[1.6rem] mb-7">Liên hệ</h5>

      <div class="flex justify-start items-start gap-9 sm:flex-row flex-col">
        <ul class="flex flex-col justify-center items-start gap-3">
          <li class="cursor-pointer">Hotline: 090 484 9706</li>
          <li class="cursor-pointer">Email: contact&#64;gmail.com</li>
          <li class="cursor-pointer">Website: https://chet.totgate.com/</li>
        </ul>

        <ul class="flex flex-col justify-center items-start gap-3">
          <li class="cursor-pointer">Bản đồ</li>
          <li class="cursor-pointer">TXNG</li>
        </ul>

        <ul class="flex flex-col justify-center items-start gap-3">
          <li class="cursor-pointer">Tin tức</li>
          <li class="cursor-pointer">Tài liệu - văn bản</li>
        </ul>
      </div>
    </div>

    <div class="flex gap-5 lg:flex-row flex-col">
      <img
        src="../../../assets/qrCodeLink.png"
        alt="qr"
        class="block rounded-lg overflow-hidden md:h-48 md:w-48 h-36 w-36"
      />

      <div class="flex flex-col justify-center items-start gap-3 text-white">
        <p class="text-[1.3rem]">Tải ứng dụng</p>
        <img
          src="../../../assets/icon-google-play.svg"
          alt="icon-google-play"
          class="block cursor-pointer h-16"
        />

        <img
          src="../../../assets/icon-app-store.svg"
          alt="icon-app-store"
          class="block cursor-pointer h-16"
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-primary text-white px-24 py-5">
  <p>Copyright &copy; 2023</p>
</div>
