<h2
  class="font-bold text-[1.6rem] relative group flex items-center justify-start gap-11"
>
  {{ header }}

  <div class="flex justify-center items-center gap-2">
    <hlm-dialog>
      <button
        brnDialogTrigger
        hlmBtn
        class="sm:block group-hover:block md:hidden text-sm bg-primary text-white rounded-md"
      >
        Edit
      </button>
      <hlm-dialog-content
        class="overflow-x-scroll overflow-y-visible w-[1200px]"
        *brnDialogContent="let ctx"
      >
        <form (submit)="onSubmit(item!.id)">
          <h3 hlmDialogTitle>Sửa thông tin</h3>
          <p hlmDialogDescription>Thêm hoặc xóa các danh mục</p>

          <div class="py-4 grid gap-4">
            <div
              class="items-center grid grid-cols-6 gap-4 mb-4 border-b-2 pb-4"
            >
              <label hlmLabel for="header" class="text-right">Header</label>
              <input
                hlmInput
                id="header"
                class="col-span-6"
                [(ngModel)]="headerData"
                name="headerData"
                value="{{ headerData }}"
              />
            </div>
          </div>
          <hlm-dialog-footer>
            <button
              class="text-white"
              hlmBtn
              brnDialogTrigger
              type="submit"
              (click)="ctx.close()"
            >
              Save changes
            </button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>

    <hlm-alert-dialog>
      <button
        brnAlertDialogTrigger
        hlmBtn
        class="sm:block group-hover:block md:hidden text-sm bg-red-500 text-white rounded-md hover:bg-red-600"
      >
        Delete
      </button>
      <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
        <hlm-alert-dialog-header>
          <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
          <p hlmAlertDialogDescription>
            This action cannot be undone. This will permanently remove your data
            from our servers.
          </p>
        </hlm-alert-dialog-header>
        <hlm-alert-dialog-footer>
          <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
          <button
            hlmAlertDialogAction
            (click)="deleteData(item!.id)"
            class="bg-red-500 hover:bg-red-600 text-white"
          >
            Delete account
          </button>
        </hlm-alert-dialog-footer>
      </hlm-alert-dialog-content>
    </hlm-alert-dialog>
  </div>
  <div class="absolute top-[6px] left-[-48px]">
    <div
      class="w-7 h-7 rounded-full bg-white z-30 border-4 border-primary md:block hidden"
    ></div>
  </div>
</h2>
