<div class="mt-4">
  <div
    class="w-full max-w-screen-xl shadow-lg border-2 rounded-lg flex justify-evenly flex-wrap gap-5 items-center p-6 font-extrabold"
  >
    <button
      (click)="setActiveTab(+i)"
      class="relative"
      *ngFor="let item of menuItems; index as i"
    >
      {{ item }}

      <span
        *ngIf="activeTab === i"
        class="absolute w-full h-[2px] md:h-[4px] bg-primary bottom-[-0.2rem] md:bottom-[-0.7rem] left-0"
      ></span>
    </button>
  </div>

  <div
    *ngIf="activeTab === 1"
    class="mt-4 shadow-lg border-2 w-full rounded-lg border-2] p-10"
  >
    <div class="mb-4 ml-10">
      <h3 class="text-primary font-extrabold text-[1.6rem]">
        Truy xuất nguồn gốc
      </h3>
      <p class="text-[1.2rem]">
        Thông tin được ghi nhật ký trong xuyên suốt quá trình sản xuất và được
        đảm bảo bởi công nghệ Blockchain
      </p>
    </div>

    <div class="flex justify-center items-center">
      <!-- Container -->
      <div class="flex justify-center items-start flex-col gap-5 relative">
        <div
          class="absolute h-full bg-gray-300 w-[7px] left-[-37px] rounded-lg md:block hidden"
        ></div>
        <app-content-detail
          *ngFor="let item of data"
          [item]="item"
          (newEvent)="reFetchData($event)"
        ></app-content-detail>

        <!-- <p *ngFor="let item of data">{{ test(item) }}</p> -->
      </div>
    </div>
  </div>

  <div
    *ngIf="activeTab !== 1"
    class="mt-4 shadow-lg border-2 w-full rounded-lg border-2] p-10"
  >
    <p>Chưa có nội dung.</p>
  </div>
</div>
