<nav class="w-full bg-primary text-white">
  <ul
    class="flex max-w-screen-xl m-auto justify-center md:justify-start items-center gap-7"
  >
    <li class="relative cursor-pointer hover:bg-primary_hover pl-8 pr-4 py-4">
      <i
        class="bi bi-house-door-fill absolute top-[14px] left-[10px] md:block hidden"
      ></i
      >Trang chủ
    </li>

    <li class="cursor-pointer hover:bg-primary_hover px-2 py-4">
      <a routerLink="">Giới thiệu</a>
    </li>
    <li class="cursor-pointer hover:bg-primary_hover px-2 py-4">
      <a routerLink="">Doanh nghiệp</a>
    </li>
    <li class="cursor-pointer hover:bg-primary_hover px-2 py-4">
      <a routerLink="">Sản phẩm</a>
    </li>
    <li class="cursor-pointer hover:bg-primary_hover px-2 py-4">
      <a routerLink="">Tài liệu - văn bản</a>
    </li>
    <li class="cursor-pointer hover:bg-primary_hover px-2 py-4">
      <a routerLink="">Tin tức</a>
    </li>
  </ul>
</nav>
